// Fuentes
$principalFont: 'Montserrat', sans-serif;
$secondaryFont: 'Fraunces', sans-serif;

// Tamaño de Media Queries
$mobile: 376px;
$tablet: 768px;
$desktop: 1440px;

// Colores
$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$veryDarkBlue : hsl(212, 21%, 14%);
$darkGrayishBlue : hsl(228, 12%, 48%);

$black: #1a1b15;
$white: #FFFFFF;
$grey: #e1e1e1;
